*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    list-style: none;
    text-decoration: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 20px;
    color: aliceblue;
    margin: 10px;
    transition: .5s;
}
.navbar a:hover{
    color: red;
}
#home{
    background-image: url(img/istockphoto-883136458-612x612.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.home-text{
    display: flex;
    align-items: center;
    justify-content:center;
    min-height: 100vh;
    flex-direction: column;
    color: #fff;
}
.home-text h1{
    font-size: 2rem;
    font-weight: 500;
    color: rgb(229, 209, 209);
}
span{
    color:#e74c3c;
}
.home-text p{
    width:520px;
    text-align: center;
    color: rgb(184, 176, 176);
    font-weight: bold;
}
.btn{
    border: 1px solid black;
    padding: 10px 20px;
    margin-top: 20px;
    color: #dfcac8;
    font-size: 22px;
    border-radius: 5px;
}